/* ---------------------- GENERAL STYLING ---------------------- */

/* root element */
html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16;
  color: black;
}

/* structure */
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: flex-start;
}

main {
  width: 1440px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* text */
h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 8px 16px 16px 8px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 8px 16px 16px 8px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 8px 16px 16px 8px;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 8px 16px 16px 8px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 8px;
}

ol,
ul {
  list-style-type: none;
}

/* ---------------------- Content STLYING ---------------------- */

/* episode container styling */
.episode-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 32px;
}

/* episode card styling */

.episode-view {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 24px;

  height: 200px;

  justify-content: flex-start;
}

/* .episode-text {} */

.episode-img {
  height: 100%;
  max-width: 320px;
  object-fit: cover;
}
